{% block content %}

<div class="content">
  <div class="container">
  {% for elem in data %}

    {% if elem[0] == 'header' %}
      {% set header = elem[1] %}
      {% include "blocks/content_elems/header.html" %}
    {% endif %}

    {% if elem[0] == 'text' %}
      {% set text = elem[1] %}
      {% include 'blocks/content_elems/text.html' %}
    {% endif %}

    {% if elem[0] == 'list' %}
      {% set list = elem[1] %}
      {% include 'blocks/content_elems/list.html' %}
    {% endif %}

    {% if elem[0] == 'table' %}
      {% set table = elem[1] %}
      {% include 'blocks/content_elems/table.html' %}
    {% endif %}

  {% endfor %}
  </div>
</div>

{% endblock %}