h1 {
    text-align: center
}

table {
  width: 100%;
  table-layout: fixed;
}

table td {
  width: 100%;
}

.table-name {
    display: inline-block;
    padding-left: 1%
}
.table-name h3 {
    display: block;
    color: black;
}

.navbar-brand {
    color: rgb(255, 193, 7) !important;
    font-size: 30px;
}

.nav-link {
    transform: translate(0%, 5%);
    font-size: 21px;
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    display: none;
}

.navbar .dropdown.catalog {
    position: static;
    float: none;
}

.navbar .dropdown .dropdown-menu.catalog-menu {
    width: 60%;
    background: rgb(52, 58, 64);
    left: 50% !important;
    right: auto;
    transform: translate(-50%, -13%);
}

.dropdown a {
    color: rgb(255, 255, 255);
}

.page-header h1 {
    text-align: center;
    color: white;
    padding-top: 10px;
}

.page-header h3 {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}

.page-header {
    padding-top: 120px;
    padding-bottom: 100px;
}

.page-header .gray-bg {
    background: rgb(52, 58, 64);
    border-radius: 6px;
    outline: 2px solid rgba(255, 193, 7,0.8);
    outline-offset: -10px;
}

.brand{
    width: 60%;
}

.main {
    position: relative;
    z-index: 3;
    color: rgb(200, 200, 200);
}

.main-raised {
    background: rgb(52, 58, 64);
    margin: -400px -20px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(255, 193, 7, 0.14), 0 6px 30px 5px rgba(255, 193, 7, 0.12), 0 8px 10px -5px rgba(255, 193, 7, 0.2);

    outline: 2px solid rgba(255, 193, 7,0.8);
    outline-offset: -10px;
    min-height: 100px;
}

.content {
    padding: 30px;
}

.main h1, h3 {
    text-align: center;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
}

.table_main tr td,th {
    color: rgb(200, 200, 200);
    border: 1px solid rgb(113, 98, 47);
    text-align: center;
    word-wrap: break-word;
    font-size: 15px;
}

.thead {
  background: rgb(113, 98, 47);
}
.thead > td, th {
  border-color: rgb(42, 48, 54) !important;
}

.table_main {
  margin-bottom: 15px;
}

.nav-link{
	position: relative;
	color: #00a650;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;

}
.nav-link:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: rgba(255, 193, 7);
	content: "";
	transition: width 0.3s ease-out;
	margin-top: 3px;
}

.nav-link:hover:after,
.nav-link:focus:after {
	width: 100%;
}

.catalog:hover .dropdown-active:after {
	width: 100%;
}

.navbar {
    margin: 0px -20px 0px;
    outline: 1px solid rgba(255, 193, 7,0.8);
    outline-offset: -5px;
}

.dropdown-menu {
    outline: 1px solid rgba(255, 193, 7,0.8);
    outline-offset: -5px;
    padding: 7px;
}

.advantage {
    padding: 15px;
    box-shadow: 2px 2px 0px 0px rgb(214, 166, 19);
}

.advantage h4 {
    display: inline-block;
    color: white;
}

.advantage-0 {
    margin: 10px 0px 0px 22px;
}

.advantage-1 {
    margin: 10px 25px 0px 0px;
}

.advantage-2 {
    margin: 0px 0px 0px 22px;
}

.advantage-3 {
    margin: 0px 25px 0px 0px;
}


.advantage img {
    display: inline-block;
    margin: 0px 50px 0px 50px;
}

*::selection{
    color: rgb(214, 166, 19);
    background: rgb(42, 48, 54);
}

.dropdown-item:active {
    background-color: rgb(214, 166, 19);
}

body {
    background-color: rgb(52,58,64) !important;
}