{% extends "solaris/base.html" %}

{% block head %}
{% include 'solaris/blocks/head.html' %}
{% endblock %}

{% block navigation %}
{% include 'solaris/blocks/navigation.html' %}
{% endblock %}

{% block hero_section %}
{% include 'solaris/blocks/hero_section.html' %}
{% endblock %}

{% block advantages %}
{% include 'solaris/blocks/advantages.html' %}
{% endblock %}

{% block content %}
{% include 'solaris/blocks/content.html' %}
{% endblock %}

{% block scripts %}
{% include 'solaris/blocks/scripts.html' %}
{% endblock %}
