<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta tag="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <title>Create/Update Header</title>
</head>
<body>
{% if data %}
{% set header = "Header Updating" %}
{% set tag = data[1] %}
{% set content = data[2] %}
{% set page_id = pages_ids.pop(pages_ids.index(data[3])) %}
{% set page_index = data[4] %}

{% set submit = "Update" %}
{% else %}
{% set header = "Header Creation" %}
{% set tag = "" %}
{% set content = "" %}
{% set page_id = pages_ids.pop(0) %}
{% set page_index = '' %}


{% set submit = "Create" %}
{% endif %}

<h1>{{ header }}</h1>

<form class="model-form" method="POST">
  <div class="form-group">
    <label for="tag">Tag</label>
    <input type="text" class="form-control" id="tag" name="tag" aria-describedby="tagHelp"
           placeholder="Enter header tag" value="{{ tag }}">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <input type="text" class="form-control" id="content" name="content" aria-describedby="tagHelp"
           placeholder="Header content" value="{{ content }}">
  </div>
  <div class="form-group">
    <label for="page_id">Page id</label>
    <select class="form-control" id="page_id" name="page_select">

      <option selected="selected">{{ page_id }}</option>
      {% for page_id in pages_ids %}
      <option>{{ page_id }}</option>
      {% endfor %}

    </select>
  </div>
  <div class="form-group">
    <label for="page_index">Page index</label>
    <input type="text" class="form-control" id="page_index" name="page_index" aria-describedby="tagHelp"
           placeholder="Page index" value="{{ page_index }}">
  </div>
  <div class="confirm-btns">
    <input type="submit" class="btn btn-outline-dark" name="submit-btn" value="{{ submit }}">
    <input type="submit" class="btn btn-outline-dark" name="submit-btn" value="Cancel">
  </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>