<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta tag="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <title>Create/Update Table</title>
</head>
<body>
{% if data %}
{% set label = data[0] %}
{% set content = data[1] %}
{% set rows = data[2] %}
{% else %}
{% set content = "" %}
{% endif %}
<div class="container">
  <div>
    <label>{{ label }}</label>
  </div>
  <ul>
  {% for row in range(rows) %}
    {% if content %}
      {% set content = content[row] %}
    {% else %}
      {% set content = '' %}
    {% endif %}
    <li>
      {{ content }}
    </li>
  {% endfor %}
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>