{% extends "base.html" %}

{% block head %}
{% include 'blocks/head.html' %}
{% endblock %}

{% block navigation %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('admin.admin') }}">Admin page</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">Page elements</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="get_pages">Pages</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="get_headers">Headers</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="get_text">Text</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="get_lists">Lists</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="get_tables">Tables</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="main content" style="margin-top: 450px;">
  <div id="content">
    <div id="here_table">
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% include 'blocks/scripts.html' %}
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="module" src="/static/js/admin_page/main.js"></script>
{% endblock %}