<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <title>Admin page</title>
</head>
<body>
<div class="container">
  <h1>Database Tables</h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="model-form alert alert-info" role="alert">
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}

  <div class="table-name">
    <h3>Pages</h3>
  </div>
  <div class="table-name">
    <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="collapse" data-target="#collapse-pages">
      Hide/Show
    </button>
  </div>
  <table class="table" id="collapse-pages">
    <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for id, name in pages %}
    <tr>
      <td scope="row">{{ id }}</td>
      <td scope="row">{{ name }}</td>
      <td>
        <form action="update_page/{{ id }}/">
          <input type="submit" class="btn btn-outline-dark btn-sm" value="Update">
        </form>
        <form action="delete_page/{{ id }}/">
          <input type="submit" class="btn btn-outline-dark btn-sm" value="Delete">
        </form>
      </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3">
        <form action="create_page/">
          <input type="submit" class="btn btn-outline-dark" value="Create">
        </form>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<div class="container">
  <div class="table-name">
    <h3>Headers</h3>
  </div>
  <div class="table-name">
    <button type="button" class="btn btn-outline-dark  btn-sm" data-toggle="collapse" data-target="#collapse-headers">
      Hide/Show
    </button>
  </div>
  <table class="table collapse in" id="collapse-headers">
    <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Tag</th>
      <th scope="col">Content</th>
      <th scope="col">Page id</th>
      <th scope="col">Page index</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for id, tag, content, page_id, page_index in headers %}
    <tr>
      <td scope="row">{{ id }}</td>
      <td scope="row">{{ tag }}</td>
      <td scope="row">{{ content }}</td>
      <td scope="row">{{ page_id }}</td>
      <td scope="row">{{ page_index }}</td>
      <td>
        <form action="update_header/{{ id }}/">
          <input type="submit" class="btn btn-outline-dark btn-sm" value="Update">
        </form>
        <form action="delete_header/{{ id }}/">
          <input type="submit" class="btn btn-outline-dark btn-sm" value="Delete">
        </form>
      </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6">
        <form action="create_header/">
          <input type="submit" class="btn btn-outline-dark" value="Create">
        </form>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<div class="container">
  <div class="table-name">
    <h3>Text</h3>
  </div>
  <div class="table-name">
    <button type="button" class="btn btn-outline-dark  btn-sm" data-toggle="collapse" data-target="#collapse-text">
      Hide/Show
    </button>
  </div>
  <table class="table collapse in" id="collapse-text">
    <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Content</th>
      <th scope="col">Page id</th>
      <th scope="col">Page index</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for id, content, page_id, page_index in text %}
    {% if content | length > 45 %}
    {% set content = content[0:100] + "..." %}
    {% endif %}
    <tr>
      <td scope="row">{{ id }}</td>
      <td scope="row">{{ content }}</td>
      <td scope="row">{{ page_id }}</td>
      <td scope="row">{{ page_index }}</td>
      <td>
        <form action="update_text/{{ id }}/">
          <input type="submit" class="btn btn-outline-dark btn-sm" value="Update">
        </form>
        <form action="delete_text/{{ id }}/">
          <input type="submit" class="btn btn-outline-dark btn-sm" value="Delete">
        </form>
      </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <form action="create_text/">
          <input type="submit" class="btn btn-outline-dark" value="Create">
        </form>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<div class="container">
  <div class="table-name">
    <h3>Lists</h3>
  </div>
  <div class="table-name">
    <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="collapse" data-target="#collapse-lists">
      Hide/Show
    </button>
  </div>
  <table class="table collapse in" id="collapse-lists">
    <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Label</th>
      <th scope="col">Content</th>
      <th scope="col">Rows</th>
      <th scope="col">Page id</th>
      <th scope="col">Page index</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for id, label, content, rows, page_id, page_index in lists %}
    {% if (content | string) | length > 45 %}
    {% set content = (content | string)[0:40] + "..." %}
    {% endif %}
    <tr>
      <td scope="row">{{ id }}</td>
      <td scope="row">{{ label }}</td>
      <td scope="row">{{ content }}</td>
      <td scope="row">{{ rows }}</td>
      <td scope="row">{{ page_id }}</td>
      <td scope="row">{{ page_index }}</td>
      <td>
        <form action="list_look/{{ id }}/">
          <input type="submit" class="btn btn-outline-dark btn-sm" value="Look">
        </form>
        <form action="update_list/{{ id }}/">
          <input type="submit" class="btn btn-outline-dark btn-sm" value="Update">
        </form>
        <form action="delete_list/{{ id }}/">
          <input type="submit" class="btn btn-outline-dark btn-sm" value="Delete">
        </form>
      </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <td colspan="7">
        <form action="create_list/">
          <input type="submit" class="btn btn-outline-dark" value="Create">
        </form>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<div class="container">
  <div class="table-name">
    <h3>Tables</h3>
  </div>
  <div class="table-name">
    <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="collapse" data-target="#collapse-table">
      Hide/Show
    </button>
  </div>
  <table class="table collapse in" id="collapse-table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Content</th>
      <th scope="col">Rows</th>
      <th scope="col">Columns</th>
      <th scope="col">Page id</th>
      <th scope="col">Page index</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for id, content, rows, columns, page_id, page_index in tables %}
    {% if (content | string) | length > 45 %}
    {% set content = (content | string)[0:40] + "..." %}
    {% endif %}
    <tr>
      <td scope="row">{{ id }}</td>
      <td scope="row">{{ content }}</td>
      <td scope="row">{{ rows }}</td>
      <td scope="row">{{ columns }}</td>
      <td scope="row">{{ page_id }}</td>
      <td scope="row">{{ page_index }}</td>
      <td>
        <form action="table_look/{{ id }}/">
          <input type="submit" class="btn btn-outline-dark btn-sm" value="Look">
        </form>
        <form action="update_table/{{ id }}/">
          <input type="submit" class="btn btn-outline-dark btn-sm" value="Update">
        </form>
        <form action="delete_table/{{ id }}/">
          <input type="submit" class="btn btn-outline-dark btn-sm" value="Delete">
        </form>
      </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <td colspan="7">
        <form action="create_table/">
          <input type="submit" class="btn btn-outline-dark" value="Create">
        </form>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>