<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <title>Title</title>
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Солярис</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown catalog">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Каталог
        </a>
        <div class="dropdown-menu catalog-menu" aria-labelledby="navbarDropdownMenuLink">
          <div class="row">
            <div class="col">
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = 'avia_oils') }}">Авиационные масла</a>
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = 'industrial_oils') }}">Индустриальные</a>
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = '') }}">Вакуумные масла</a>
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = 'motor_oils') }}">Моторные масла</a>
            </div>
            <div class="col">
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = 'pribornie_oils') }}">Приборные</a>
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = 'ships_oils') }}">Судовые масла</a>
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = 'transmission_oils') }}">Трансмиссионые масла</a>
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = 'gidravl_oils') }}">Гидравлические масла</a>
            </div>
            <div class="col">
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = 'cabel_transform_oils') }}">Кабельные и трансформаторные масла</a>
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = 'turbo_oils') }}">Турбинные масла</a>
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = 'compress_oils') }}">Компрессорные масла</a>
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = 'antifrict_oils') }}">Смазки</a>
            </div>
            <div class="col">
              <a class="dropdown-item" href="{{ url_for('main.catalog_page', page_name = 'special_fluids') }}">Специльные жидкости</a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.catalog_page', page_name = 'price_list') }}">Прайс-лист</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Контакты</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Карта партнера</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Поиск</button>
    </form>
  </div>
</nav>

<div class="page-header" data-parallax="true"
     style="background-image: url('/static/imgs/page-header-bg.jpg'); height: 770px;">
  <div class="d-flex justify-content-center">
    <div class="brand gray-bg">
      <h1>Компания Солярис</h1>
      <h3>Масла, Смазки, Технические жидкости</h3>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col gray-bg">
        <h3>Доступные цены</h3>
        <h3>Гибкая система расчетов</h3>
      </div>
      <div class="col gray-bg">
        <h3>Все формы работы</h3>
        <h3>Оперативность исполнения</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="main main-raised">
    {% for elem in data %}
    {% if elem[0] == 'header' %}
      {% set tag = elem[1].tag %}
      {% set content = elem[1].content %}
      <{{ tag }}>{{ content }}</{{ tag }}>
    {% endif %}
    {% if elem[0] == 'text' %}
      {% set content = elem[1].content %}
      <p>{{ content }}</p>
    {% endif %}
    {% if elem[0] == 'table' %}
      {% set table_content = elem[1].content %}
      {% set rows = elem[1].rows %}
      {% set columns = elem[1].columns %}
      <table class="table-main">
        <thead class="thead-dark">
        <tr>
          {% for col in range(columns) %}
          {% set content = table_content[0][col] %}
          <th scope="col">{{ content }}</th>
          {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in range(1, rows-1) %}
        <tr>
          {% for col in range(columns) %}
          {% set content = table_content[row][col] %}
          <th scope="row">{{ content }}</th>
          {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    {% endfor %}
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>