<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">

  <title>Главная</title>
</head>
<body class="bg-dark">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Солярис</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.index') }}">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown catalog">
        <a class="nav-link active dropdown-active" id="navbarDropdownMenuLink">
          Каталог
        </a>
        <div class="dropdown-menu catalog-menu" aria-labelledby="navbarDropdownMenuLink">
          <div class="row">
            <div class="col">
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'aviation_oils') }}">Авиационные масла</a>
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'industrial_oils') }}">Индустриальные масла</a>
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'vacuum_oils') }}">Вакуумные масла</a>
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'engine_oils') }}">Моторные масла</a>
            </div>
            <div class="col">
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'instrument_oils') }}">Приборные масла</a>
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'ships_oils') }}">Судовые масла</a>
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'transmission_oils') }}">Трансмиссионые масла</a>
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'hydraulic_oils') }}">Гидравлические масла</a>
            </div>
            <div class="col">
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'cable_and_transformer_oils') }}">Кабельные и трансформаторные масла</a>
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'turbine_oils') }}">Турбинные масла</a>
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'compressor_oils') }}">Компрессорные масла</a>
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'greases') }}">Смазки</a>
            </div>
            <div class="col">
              <a class="dropdown-item" href="{{ url_for('main.site_page', page_name = 'special_liquids') }}">Специльные жидкости</a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.site_page', page_name = 'price_list') }}">Прайс-лист</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Контакты</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.site_page', page_name = 'partner_card') }}">Карта партнера</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Поиск</button>
    </form>
  </div>
</nav>

<div class="page-header" data-parallax="true"
     style="background-image: url('/static/imgs/page-header-bg.jpg'); height: 770px;">
  <div class="d-flex justify-content-center">
    <div class="brand gray-bg">
      <h1>Компания Солярис</h1>
      <h3>Масла, Смазки, Технические жидкости</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="main main-raised">
    <div class="row advantages-row">
      <div class="col advantage advantage-0">
        <img src="/static/imgs/reasonable_prices.png" alt="" style="width: 50px; height: 50px;">
        <h4>Доступные цены</h4>
      </div>
      <div class="col advantage advantage-1">
        <img src="/static/imgs/flexible_settlement.png" alt="" style="width: 50px; height: 50px;">
        <h4>Гибкая система расчетов</h4>
      </div>
    </div>
    <div class="row advantages-row">
      <div class="col advantage advantage-2">
        <img src="/static/imgs/all_work_forms.png" alt="" style="width: 50px; height: 50px;">
        <h4>Все формы работы</h4>
      </div>
      <div class="col advantage advantage-3">
        <img src="/static/imgs/efficiency.png" alt="" style="width: 50px; height: 50px;">
        <h4>Оперативность исполнения</h4>
      </div>
    </div>
    <div class="content">
      <h3>
        Мы рады приветствовать вас на сайте компании "Солярис"!
      </h3>
      <p>
        ООО "Солярис" предлагает поставку на договорных условиях весь спектр отечественных и импортных масел,
        смазок и технических жидкостей, светлых нефтепродуктов (бензины, керосины, дизельное топливо).
      </p>
      <p>
        Доступные цен, все формы работы, гибкая система расчетов,
        оперативность исполнения договорных обязательств,
        позволили нам на протяжении небольшого промежутка времени существования на рынке нефтепродуктов,
        иметь широкую клиентскую базу по всей России, а также репутацию надежного поставщика и партнера.
      </p>
      <label>Нашими клиентами являются:</label>
      <ul>
        <li>ОАО «Ижорские заводы»</li>
        <li>ООО «ОМЗ - Спецсталь»</li>
        <li>ООО «ОМЗ - Литейное производство»</li>
        <li>ОАО «ВНИИ Транспортного машиностроения»</li>
        <li>ОАО «НИИ Мортеплотехники»</li>
        <li>ЗАО «Санкт-Петербургская авиаремонтная компания»</li>
        <li>ЗАО «Птицефабрика Невская»</li>
        <li>ОАО «НИИ Мортеплотехники»</li>
        <li>ОАО «61 Бронетанковый ремонтный завод»</li>
        <label>и другие</label>
      </ul>
      <label>Мы реализуем продукцию крупнейших нефтеперерабатывающих заводов в России:</label>
      <ul>
        <li>ОАО «Московский нефтемаслозавод»</li>
        <li>ООО «ЛУКОЙЛ-Северо-Западнефтепродукт»</li>
        <li>ЗАО «Рязанский опытный завод нефтепродуктов»</li>
        <li>ЗАО «Русойл-Москва»</li>
        <li>ОАО «НК «Роснефть» - МЗ «Нефтепродукт»</li>
        <li>ООО «Квалитет - Авиа»</li>
        <li>Заводы Самарской группы</li>
        <label>и другие</label>
      </ul>
      <h3>
        Предлагаем краткий перечень поставляемой нами продукции
      </h3>
      <ul>
        <li>Дизельное топливо</li>
        <li>Авиационные масла: АМГ-10, Б3В, МС-20,Турбоникойл-98,ЛЗ-240,ВО-12,и другие.</li>
        <li>Моторные масла: М-8В, М-20Г2, М-8Г2, М-8Г2к, М-10Г2, М-10Г2к, М-8ДМ, М-10ДМ, М-10В2, МТ-16П и другие.</li>
        <li>Гидравлические масла: МГЕ-46, Марки А, ВМГ3, Веретенное, АУ МГ-15В и другие.</li>
        <li>Судовые масла: М-10Г2ЦС, М-14Г2ЦС, М-16Г2ЦС, М-20Г2СД, М14Д2СЕ, М-20В2Ф, М-20В2СМ и другие.</li>
        <li>Индустриальные масла: И-12А, И-20А, И-30А, И-40А, И-50А , ИГП-18, ИГП-30, ИГП-38 и другие.</li>
        <li>Трансмиссионные масла: ТЭП-15, ТАД-17, ТМ 5-18, ТСП-15К и другие.</li>
        <li>Трансформаторные масла: ГК, ТКП, ТК, ВГ, Т-1500 и другие.</li>
        <li>Компрессорные масла: КС-19, КП-8с, К4-20 и другие.</li>
        <li>Вакуумные масла: ВМ-1, ВМ-3, ВМ-4 ,ВМ-5,ВМ-6 и другие.</li>
        <li>Турбинные масла: ТП-22С, ТП-22Б, ТП-30, ТП-46 и другие.</li>
        <li>Холодильные масла: ХА-30, ХФ-12-16, ХФ-22-24 и другие.</li>
        <li>Смазки: Литол 24, Солидол С, Солидол Ж, Смазка графитная, Циатим 201, Циатим 203, Циатим 205, Циатим 208,
          Циатим 221, Смазка 1-13, ШРУС-4, ЛЗ-ЦНИИ, Арматол-238, Арматол-60, ВНИИНП-207, ВНИИНП-225, ВНИИНП-403,
          ВНИИНП-286, ВНИИНП-232, ВНИИНП-242, ВНИИНП-279, ВНИИНП-282, ВНИИНП-248, ВНИИНП-274 и другие.
        </li>
        <li>Специальные жидкости:СОЖ, Эмульсол: СОЖ МР-7, Ленол-10МБ, ЛЗ СОЖ-15, ЭКС ЭГТ</li>
        <li>Керосин ТС-1, Керосин КО, Нефрас 80/120, Нефрас А-130/150, Сольвент, Нефрас С2-80/120, Нефрас С4-150/200, уайт
          спирит С 50/170 и другие.
        </li>
        <li>Импортные масла: Mobil, Esso, Сastrol, Total, Shell и другие.</li>
      </ul>
      <h3>Вся продукция сертифицирована и имеет паспорта качества.</h3>
      <p>
        Мы имеем возможность доставлять вам продукцию нашими транспортными средствами в удобное для вас время.
        Условия поставки и цены обговариваются индивидуально с каждым покупателем.
        Постоянным клиентам предоставляются дополнительные бонусы и скидки.
      </p>
      <p>
        Надеемся на долговременное и взаимовыгодное сотрудничество.
      </p>
      <p>
        С уважением, <br><br>
        <span>Генеральный директор</span><span style="padding-left: 500px;">Бондаренко  А.С.</span>
      </p>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>