
{% block navigation %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index_page' %}">Солярис</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#to_collapse" aria-controls="to_collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="to_collapse">
      <ul class="navbar-nav mr-auto">
        {% for page in nav_pages %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'site_page' page_name=page.name %}">{{ page.title }}</a>
        </li>
        {% endfor %}
        <li class="nav-item dropdown catalog">
          <a class="nav-link active dropdown-active" id="navbarDropdownMenuLink">
            Каталог
          </a>
          <div class="dropdown-menu catalog-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for page in catalog_pages %}
            <a class="dropdown-item" href="{% url 'site_page' page_name=page.name %}">{{ page.title }}</a>
          {% endfor %}
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
{% endblock %}